---

let nextMatch

try{
  const response = await fetch("http://localhost:3000/api/united")
  if (response.ok) {
    const data = await response.json();
    nextMatch = data;
  } else {
    throw new Error("Failed to fetch date")
  }
} catch(error) {
  console.error(error)
}

const today = new Date();
const todaysMonth = today.toLocaleString('default', { month: 'long' });
const todaysDay = today.getDate().toString();


const opponent = nextMatch.awayTeam !== "Man United" ? nextMatch.awayTeam : nextMatch.homeTeam
const location = nextMatch.homeTeam === "Man United" ? "Home" : "Away"
const date = nextMatch.date

function parseDateTime(utcString) {
  const parts = {
    weekday: new Intl.DateTimeFormat('en-US', { weekday: 'long' }).format(new Date(utcString)),
    month: new Intl.DateTimeFormat('en-US', { month: 'long' }).format(new Date(utcString)),
    day: new Intl.DateTimeFormat('en-US', { day: 'numeric' }).format(new Date(utcString)),
    time: new Intl.DateTimeFormat('en-US', { 
      hour: 'numeric',
      minute: '2-digit',
      hour12: true 
    }).format(new Date(utcString))
  };
  return parts;
}

// Usage
const dateStr = date;
const { weekday, month, day, time } = parseDateTime(dateStr);
console.log(day)
---

{todaysMonth === month && todaysDay === day ?    
  <h1>United is playing today</h1>
      : 
  <section class="widget shadow">
    <di class="teams-wrapper">
      <p class="united">United</p>
      <p class="vs">vs</p>
      <p class="opponent">{opponent}</p>
    </di>
    <p class="location">{location}</p>
    <p>{weekday}, {month} {day} at {time}</p>
  </section>
}


<style>
  .teams-wrapper {
    display: flex;
    flex-direction: column;
    gap: -0.5rem;
    line-height: 0.95; 
  }

  .united {
    font-size: var(--step-5);
    font-weight: 800;
    line-height: -2rem;
  }

  .vs {
    font-size: var(--step-3);
    font-weight: 800;
    color: var(--clr-gray-light);
  }

  .opponent {
    font-size: var(--step-3);
    font-weight: 800;
  }

  .location {
    font-size: var(--step--1);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr-gray-light);
  }
</style>

